.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Qwigley{
  font-family: "Qwigley", cursive;
}

.navbar-fixed {
  width: 100%;
  background: #181818;
}

/* #topContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

#reactDragDropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  /* margin-right: 10%; */
}

#reactDragDropTitle > * {
  font-size: 30px;
  margin: 0;
  line-height: 30px;
}

/* https://css-tricks.com/examples/ShapesOfCSS/ */
#curvedarrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid black;
  transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
#curvedarrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid black;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* ^^^^ */
#reactDropZone {
  height: 220px !important;
  margin: 10px;
  cursor: pointer;
  width: auto !important;
  max-width: 430px !important;
  height: auto !important;
}

/* #imageUpload{
  margin: 7%;
} */

#imageInputFormContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43%;
}
#imageLink{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imageLinkInput{
  width: 70%;
}
#imageUpload{
  font-size: 22px;
}

#personImg,
#blankImg {
  display: block;
  max-width: 430px;
  max-height: 400px;
  height: auto;
}
#blankImg {
  max-height: 200px;
  width: auto;
  margin: 10px;
}

#personImg {
  width: auto;
  max-width: 100%;
}

.inputBtn {
  width: 43%;
  margin: 9px;
}

.chartPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultsRow,
.btnRow {
  width: 75%;
}

.infoCards {
  cursor: pointer;
}
